{% load i18n %}

{% autoescape off %}
    {% blocktrans with site_name=current_site.name site_domain=current_site.domain user_full_name=user.get_full_name %}
            Hi {{user_full_name}},

            We sent you this message cause we receive a request for reset your password, if you didn't make this request please ignore this message.

            If you did make the request please use the info below to change  your password.

    {% endblocktrans %}

                ID: {{uid}}

                Token: {{token}}

{% endautoescape %}