{% load i18n %}

{% autoescape off %}
    {% blocktrans with site_name=current_site.name site_domain=current_site.domain user_full_name=user.get_full_name %}
        <p style="margin: 0;">
            Hi <strong>{{user_full_name}}</strong>,
        </p>
        <p style="margin: 0;">
            On behalf of <strong>{{ site_name }}!</strong>
        </p>
        <p style="margin: 0;">
            We would like to thank you for bring your business with us.
            <br>
            There is one more step to finish your registration process, please copy the following code and confirm your account.
        </p>
    {% endblocktrans %}
        <p>
            <button class="copy_key">{% blocktrans%}Copy to Clipboard{% endblocktrans %}</button>
            <br/>
            <textarea class="confirm_key" readonly>{{key}}</textarea>
        </p>
{% endautoescape %}